[Unit]
Description=Gradio Text Word Count Service
After=network.target

[Service]
Type=simple
User=nvidia
# Make sure to modify paths to your real paths
WorkingDirectory=/path/to/your/markword
ExecStart=/path/to/your/markword/.venv/bin/python app.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
